<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Flask</title>
</head>
<body>
    <h3>Python Flask # App 1</h3>
    <div style="width: 800px;">
    <p>A key objective of building a DevOps culture is delivering software quickly.  That’s why a core tenet of DevOps is measurement. You need to observe your environment to know you’re not building an environment like this :)</p>
    <img src="static/fire_prod.png" alt="fire in prod" width="600px" />
    </div>
     <br/><br/>
   
</body>
</html>